@@include('../shared/header.html', {
  "style": [
    "assets/css/vendor/bootstrap.css",
    "assets/css/vendor/slick.css",
    "assets/css/vendor/slick-theme.css",
    "assets/css/vendor/font-awesome.min.css",
    "assets/css/main.css"
  ]
})
<main>
  <div class="container">
    <h1>Welcome To New Front End Starterpack Using Gulp 4</h1>
    <div id="Test"></div>
    <div id="Test2"></div>
    <div class="test">Test class</div>
  </div>
</main>


@@include('../shared/footer.html', {
  "script": [
  "assets/js/vendor/jquery.min.js",
  "assets/js/vendor/bootstrap.bundle.min.js",
  "assets/js/app.min.js"
  ]
})