@@include('../shared/header.html', {
  "style": [
    "assets/css/vendor/bootstrap.css",
    "assets/css/vendor/slick.css",
    "assets/css/vendor/slick-theme.css",
    "assets/css/vendor/font-awesome.min.css",
    "assets/css/main.css",
    "assets/css/pages/home.css"
  ]
})
<main>
  <div class="container">
    
    <div class="block">
      <h1 class="block__title">Welcome To New Front End Starterpack Using Gulp 4</h1>
      <div class="block__box-container">
        <div class="row">
          <div class="col-4">
            <div id="Test"></div>
          </div>
          <div class="col-4">
            <div id="Test2"></div>
          </div>
          <div class="col-4">
            <div class="test">Test class</div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</main>


@@include('../shared/footer.html', {
  "script": [
  "assets/js/vendor/jquery.min.js",
  "assets/js/vendor/bootstrap.bundle.min.js",
  "assets/js/app.min.js",
  "assets/js/includes/homepage.js"
  ]
})